body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
    font-family: cursive, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;

    #polarity,
    #subjectivity {
        font-size: 25px;
        color: #545454;
    }
}